include/wsdl/active_directoryv3_xml.wsdl

<?xml version="1.0"?>
<definitions name="ActiveDirectoryV3" targetNamespace="urn:ActiveDirectoryV3" xmlns:tns="urn:ActiveDirectoryV3"  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">

	<message name="authentification">
		<part name="login" type="xsd:string" />
		<part name="password" type="xsd:string" />
	</message>
	<message name="authentificationResponse">
		<part name="return" type="xsd:string" />
	</message>
	<message name="getGroupesParSamaccountname">
		<part name="samaccountname" type="xsd:string" />
	</message>
	<message name="getGroupesParSamaccountnameResponse">
		<part name="xml" type="xsd:string" />
	</message>
	<message name="getEmailParSamaccountname">
		<part name="samaccountname" type="xsd:string" />
	</message>
	<message name="getEmailParSamaccountnameResponse">
		<part name="return" type="xsd:string" />
	</message>
	<message name="getGroupesParMachine">
		<part name="machine" type="xsd:string" />
	</message>
	<message name="getGroupesParMachineResponse">
		<part name="xml" type="xsd:string" />
	</message>
	<message name="getMembresParGroupe">
		<part name="groupe" type="xsd:string" />
	</message>
	<message name="getMembresParGroupeResponse">
		<part name="xml" type="xsd:string" />
	</message>

	<portType name="ActiveDirectoryV3Port">
		<operation name="authentification">
			<input message="tns:authentification" />
			<output message="tns:authentificationResponse" />
		</operation>
		<operation name="getGroupesParSamaccountname">
			<input message="tns:getGroupesParSamaccountname" />
			<output message="tns:getGroupesParSamaccountnameResponse" />
		</operation>
		<operation name="getEmailParSamaccountname">
			<input message="tns:getEmailParSamaccountname" />
			<output message="tns:getEmailParSamaccountnameResponse" />
		</operation>
		<operation name="getGroupesParMachine">
			<input message="tns:getGroupesParMachine" />
			<output message="tns:getGroupesParMachineResponse" />
		</operation>	
		<operation name="getMembresParGroupe">
			<input message="tns:getMembresParGroupe" />
			<output message="tns:getMembresParGroupeResponse" />
		</operation>

	</portType>

	<binding name="ActiveDirectoryV3Binding" type="tns:ActiveDirectoryV3Port">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="authentification">
			<soap:operation soapAction="urn:ActiveDirectoryV3Action" />
				<input>
					<soap:body use="encoded" namespace="urn:ActiveDirectoryV3" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				</input>
				<output>
					<soap:body use="encoded" namespace="urn:ActiveDirectoryV3" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				</output>
		</operation>
		<operation name="getGroupesParSamaccountname">
			<soap:operation soapAction="urn:ActiveDirectoryV3Action" />
				<input>
					<soap:body use="encoded" namespace="urn:ActiveDirectoryV3" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				</input>
				<output>
					<soap:body use="encoded" namespace="urn:ActiveDirectoryV3" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				</output>
		</operation>
		<operation name="getEmailParSamaccountname">
			<soap:operation soapAction="urn:ActiveDirectoryV3Action" />
				<input>
					<soap:body use="encoded" namespace="urn:ActiveDirectoryV3" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				</input>
				<output>
					<soap:body use="encoded" namespace="urn:ActiveDirectoryV3" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				</output>
		</operation>
		<operation name="getGroupesParMachine">
			<soap:operation soapAction="urn:ActiveDirectoryV3Action" />
				<input>
					<soap:body use="encoded" namespace="urn:ActiveDirectoryV3" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				</input>
				<output>
					<soap:body use="encoded" namespace="urn:ActiveDirectoryV3" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				</output>
		</operation>
		<operation name="getMembresParGroupe">
			<soap:operation soapAction="urn:ActiveDirectoryV3Action" />
				<input>
					<soap:body use="encoded" namespace="urn:ActiveDirectoryV3" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				</input>
				<output>
					<soap:body use="encoded" namespace="urn:ActiveDirectoryV3" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				</output>
		</operation>

	</binding>

	<service name="ActiveDirectoryV3Webservice">
		<port name="ActiveDirectoryV3Port" binding="tns:ActiveDirectoryV3Binding">
			<soap:address location="http://librarytest.cpas.intra/ActiveDirectoryV3/xmlv2.php"/>
		</port>
	</service>

</definitions>
