include/wsdl/active_directoryv2.wsdl

<?xml version="1.0"?>
<definitions name="ActiveDirectoryV2" targetNamespace="urn:ActiveDirectoryV2" xmlns:tns="urn:ActiveDirectoryV2"  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema targetNamespace="urn:ActiveDirectoryV2" xmlns="http://www.w3.org/2001/XMLSchema" >
			<xsd:complexType name="arrayOfString">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
				    	<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]" />
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
		</xsd:schema>
	</types>

	<message name="authentification">
		<part name="login" type="xsd:string" />
		<part name="password" type="xsd:string" />
	</message>
	<message name="authentificationResponse">
		<part name="return" type="xsd:boolean" />
	</message>
	<message name="getGroupesParSamaccountname">
		<part name="samaccountname" type="xsd:string" />
	</message>
	<message name="getGroupesParSamaccountnameResponse">
		<part name="returnArray" type="tns:arrayOfString" />
	</message>
	<message name="getGroupesParMachine">
		<part name="machine" type="xsd:string" />
	</message>
	<message name="getGroupesParMachineResponse">
		<part name="returnArray" type="tns:arrayOfString" />
	</message>
	<message name="getMembresParGroupe">
		<part name="machine" type="xsd:string" />
	</message>
	<message name="getMembresParGroupeResponse">
		<part name="returnArray" type="tns:arrayOfString" />
	</message>
	<message name="getEmailParSamaccountname">
		<part name="samaccountname" type="xsd:string" />
	</message>
	<message name="getEmailParSamaccountnameResponse">
		<part name="return" type="xsd:string" />
	</message>

	<portType name="ActiveDirectoryV2Port">
		<operation name="authentification">
			<input message="tns:authentification" />
			<output message="tns:authentificationResponse" />
		</operation>
		<operation name="getGroupesParSamaccountname">
			<input message="tns:getGroupesParSamaccountname" />
			<output message="tns:getGroupesParSamaccountnameResponse" />
		</operation>
		<operation name="getGroupesParMachine">
			<input message="tns:getGroupesParMachine" />
			<output message="tns:getGroupesParMachineResponse" />
		</operation>
		<operation name="getMembresParGroupe">
			<input message="tns:getMembresParGroupe" />
			<output message="tns:getMembresParGroupeResponse" />
		</operation>
		<operation name="getEmailParSamaccountname">
			<input message="tns:getEmailParSamaccountname" />
			<output message="tns:getEmailParSamaccountnameResponse" />
		</operation>
	</portType>

	<binding name="ActiveDirectoryV2Binding" type="tns:ActiveDirectoryV2Port">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="authentification">
			<soap:operation soapAction="urn:ActiveDirectoryV2Action" />
				<input>
					<soap:body use="encoded" namespace="urn:ActiveDirectoryV2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				</input>
				<output>
					<soap:body use="encoded" namespace="urn:ActiveDirectoryV2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				</output>
		</operation>
		<operation name="getGroupesParSamaccountname">
			<soap:operation soapAction="urn:ActiveDirectoryV2Action" />
				<input>
					<soap:body use="encoded" namespace="urn:ActiveDirectoryV2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				</input>
				<output>
					<soap:body use="encoded" namespace="urn:ActiveDirectoryV2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				</output>
		</operation>
		<operation name="getGroupesParMachine">
			<soap:operation soapAction="urn:ActiveDirectoryV2Action" />
				<input>
					<soap:body use="encoded" namespace="urn:ActiveDirectoryV2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				</input>
				<output>
					<soap:body use="encoded" namespace="urn:ActiveDirectoryV2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				</output>
		</operation>
		<operation name="getMembresParGroupe">
			<soap:operation soapAction="urn:ActiveDirectoryV2Action" />
				<input>
					<soap:body use="encoded" namespace="urn:ActiveDirectoryV2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				</input>
				<output>
					<soap:body use="encoded" namespace="urn:ActiveDirectoryV2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				</output>
		</operation>
		<operation name="getEmailParSamaccountname">
			<soap:operation soapAction="urn:ActiveDirectoryV2Action" />
				<input>
					<soap:body use="encoded" namespace="urn:ActiveDirectoryV2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				</input>
				<output>
					<soap:body use="encoded" namespace="urn:ActiveDirectoryV2" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				</output>
		</operation>
	</binding>

	<service name="ActiveDirectoryV2Webservice">
		<port name="ActiveDirectoryV2Port" binding="tns:ActiveDirectoryV2Binding">
			<soap:address location="http://localhost:8080/activedirectoryv2/index.php" />
		</port>
	</service>

</definitions>
